GOOGLE_MAPS_API_KEY=tu_api_key_de_google_maps
MERCADOPAGO_ACCESS_TOKEN=tu_access_token_de_mercadopago
MERCADOPAGO_NOTIFICATION_URL=https://tu-dominio.com/api/payments/webhook
MUVI_FRONTEND_URL=http://localhost:4200
ADMIN_USERNAME=admin
ADMIN_PASSWORD=tu_password_de_admin
JWT_SECRET=tu_secreto_jwt_min_32_caracteres
DB_PASSWORD=tu_password_de_base_de_datos
